.secao-sobre-banner {
    background-image: url("../../../public/assets/banner-sobre.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    width: 100%;
    height: 70vh;
}

.container-sobre-banner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.secao-sobre-banner h1 {
    text-transform: uppercase;
    text-shadow: rgb(36, 35, 35) 4px 4px 3px;
    color: #fff;
    font-size: 100px;
    text-align: center;
}

.secao-sobre-texto {
    margin-top: 70px;
    margin-bottom: 70px;
}

.container-sobre-texto {
    text-align: center;
}

.container-sobre-texto div {
    margin-bottom: 30px;
}

.container-sobre-texto span {
    font-weight: bold;
    font-style: italic;
}

.container-sobre-texto p {
    padding: 10px;
}

.container-sobre-imagens {
    display: flex;
    width: 100%;
}

.container-sobre-imagens img {
    width: 50%;
    object-fit: cover;
}

@media (max-width: 768px) {
    .secao-sobre-banner h1 {
        font-size: 50px;
    }

    .container-sobre-imagens {
        flex-direction: column;
    }

    .container-sobre-imagens img {
        width: 100%;
    }
}