header {
    background-color: #F9DB79;
}

.logo-topo {
    width: 60px;
}

.container-topo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.link-topo {
    color: #000;
    font-weight: bold;
    margin-left: 60px;
    text-decoration: none;
    font-size: 18px;
}

@media (max-width: 436px) {
    .container-topo {
        flex-direction: column;
    }

    .link-topo {
        margin: 30px;
    }

    .menu-topo {
        border-top: solid 1px #878686;
        padding-top: 10px;
    }
}