.secaoBanner {
    background-image: url("../../../public/assets/banner-home.png");
    background-color: #F9DB79;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 95vh;
    height: 90vh;
}

.container-banner {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}

h1 {
    text-transform: uppercase;
    text-shadow: rgb(36, 35, 35) 4px 4px 3px;
    color: #fff;
    font-size: 100px;
    text-align: center;
}

.secao {
    display: flex;
    width: 100%;

}

.secao img {
    width: 50%;
    height: auto;
    object-fit: cover;
}

.container-secao {
    display: flex;
    width: 50%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 100px;
}

.secaoEventos {
    flex-direction: row-reverse;
}

.container-secao h2 {
    text-transform: uppercase;
    font-weight: bolder;
}

.container-secao span {
    font-style: italic;
    font-weight: bold;
}

.container-secao p {
    margin: 30px;
}


@media (max-width: 768px) {
    h1 {
        font-size: 70px;
    }

    .secao {
        flex-direction: column;
    }

    .secao img {
        width: 100%;
    }

    .container-secao {
        width: 100%;
    }

    .container-secao p {
        text-align: center;
    }
}

@media (max-width: 436px) {
    .container-secao {
        padding: 50px;
    }
}